@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

a {

    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

body {
    background-color: white;
}

.encabezado {

    width: 100%;
    height: 100px;
    background-color: rgb(223, 240, 255);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.item-link {

    font-weight: bold;
}

.items-content {

    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.logo {

    width: 200px;
    height: 100%;
}

.logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}