<h1>Categorias</h1>

<form action="">

    <div class="form-item nombre">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required>
    </div>

    <div class="form-item descripcion">
        <label for="descripcion" class="form-label">Descripción</label>
        <input type="text" class="form-control" id="descripcion" name="descripcion" required>
    </div>

    <button type="submit" class="btn btn-sumit">Guardar</button>
</form>