<h1>Categorias</h1>

<form action="">

    <div class="form-item nombre">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" minlength="6" maxlength="100" required>
    </div>

    <div class="form-item descripcion">
        <label for="descripcion" class="form-label">Descripción</label>
        <input type="text" class="form-control" id="descripcion" name="descripcion" minlength="6" maxlength="100" required>
    </div>

    <button type="submit" class="btn btn-sumit">Guardar</button>
</form>

<div class="table-responsive mt-3">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="categorias-list" class="tabla-categorias">
            <!-- Aquí se llenarán las categorías desde JavaScript -->
        </tbody>
    </table>
</div>